html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none;
    color: inherit
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
}

.biometr{
    margin: 22vh auto;
    width:  100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.biometr2{
    margin: 35vh auto;
    max-width:  500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
    text-align: center;
}

.con{
    display: flex;
    margin: 30px;
}

.con:hover{
    color: blue;
    transition: 0.5s;
}

.document{
    margin: 15px;
    width: 100%;
    height: 100%;
}

.alex{
    background: url("img/Alex.jpg") center no-repeat;
    background-size: contain;
}

.inna{
    background: url("img/Inna.jpg") center no-repeat;
    background-size: contain;
}

.oleksandr{
    background: url("img/Oleksandr.jpg") center no-repeat;
    background-size: contain;
}